/* Universal Styles */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 135px;
}

@media (max-width: 576px) {
    body {
        font-family: "Roboto", Arial, Verdana, sans-serif;
        padding-top: 255px;
    }
}

/* Navigation */
.nav-link:hover {
    background-color: lightgreen;
}

/* List Items */
.list-items {
    color: green;
}

.list-items a {
    text-decoration: none;
    color: orange;
}

.list-items a:hover {
    text-decoration: none;
    color: purple;
}