/* Universal Styles */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 135px;
}

@media (max-width: 576px) {
    body {
        font-family: "Roboto", Arial, Verdana, sans-serif;
        padding-top: 255px;
    }
}

/* Navigation */
.nav-link:hover {
    background-color: lightgreen;
}

/* List Items */
.list-items {
    color: green;
}

.list-items a {
    text-decoration: none;
    color: orange;
}

.list-items a:hover {
    text-decoration: none;
    color: purple;
}

/* Footer */
footer {
    background-color: lightblue;
    padding: 5px;
}

/* Social Links */
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    color: green;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: purple;
}